# Ignore virtual environments
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Ignore system files
.DS_Store
Thumbs.db
# Ignore CSV files in specific folders
data/raw/*.csv
data/cleaned/*.csv


# Ignore environment and IDE settings
.env
.vscode/
*.log
